.contact-form{
    padding: 4rem 2rem 10rem 2rem;
    display: flex;
    height: auto;
    
    background-color: var(--lightpink);
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex:1;
}

.c-right form{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 1px solid var(--green);
    border-radius: 8px;
    font-size: 16px;
}




textarea{
    height: 4rem!important;
}

@media screen and (max-width:735px){
.contact-form{
    flex-direction: column;
    margin-bottom: 8rem;
}
.w-left{
    margin-bottom:2rem;
   
}
#email{
    font-size: .8rem;
}

}