.footer{
    display: flex;
    align-items: center;
    margin: -2.5rem -3.5rem;
    position: relative;
    justify-content: center;
    height:200px;
    display: flex;
    bottom: 0;
    left: 0;
    background-color: #fff;
}





@media screen and (max-width:450px) {
    .f-icons{
        display:none;
    }
}