.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    height:auto;
    margin: 8rem 0 8rem 0;
    padding: 0 2rem;
    
}

.experience .awesome>:nth-child(2){
    color:#e08181;
}
